Django==1.4.1
South==0.7.6
argparse==1.2.1
dj-database-url==0.2.1
git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
django-taggit==0.10a1
django-tastypie==0.9.14
django-wkhtmltopdf==1.2
ipdb==0.7
ipython==0.13.1
mimeparse==0.1.3
oauthlib==0.4.0
psycopg2==2.5
pysolr==3.0.6
python-dateutil==2.1
requests==1.1.0
requests-oauthlib==0.3.0
six==1.3.0
git+git://github.com/mattdeboard/client-python.git
wsgiref==0.1.2
factory-boy==2.0.2
