<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap-dropdown.js"></script>
	<script src="{{STATIC_URL}}js/main.js"></script>

	<link rel="shortcut icon" href="static/img/icon.ico">
	<title>Home - SmartClip</title>
	<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
</head>
<body>
	<script type="text/javascript">
	  $('.dropdown-toggle').dropdown();
	</script>
	<div id="header">
      {% if user.is_authenticated %}
      <div id="header_info">
      <ul id="nav">
	<li>
	  <div id="header_info_img">
	    <img src="{{STATIC_URL}}img/profile_img.png" />
	  </div>
	  <div id="header_info_name">
	    Logged in as: <b>{{ user.username }}</b>
	    <span class="icon-chevron-down icon-white"></span>
	  </div>
          <ul>
            <li><a href="#">Log Out</a></li>
          </ul>
	</li>
      </ul>    
      </div>
      {% endif %}
	</div>
	
	
	<div id="container">
	  <div class="home_content">
	    <img src="{{STATIC_URL}}img/logo.png" style="height:100px;" />
	    
	    <br><br>
	    
	    <span style="font-size:20px;">Online bookmarking made simple.</span>
	    
	    <br><br>
	    {% if user.is_authenticated %}
	    <a class="btn btn-large btn-info" href="/clippings">View Your Clippings</a>
	    {% else %}
	    <a class="btn btn-large btn-info" href="/oauth-redirect">Log In with SmartFile</a>
	    {% endif %}
	    
	  </div>
	  
	</div>
	
	<div id="footer">
	  <div class="container splash-page">
	    <!-- Example row of columns -->
	    <div class="row-fluid">
	      <div class="span4">
		<h2>Clip Anything.</h2>
		<p>Whether it's for business or pleasure, any images,links, or text from any website with just a click of a button.</p>
	      </div>
	      <div class="span4">
		<h2>View Anywhere.</h2>
		<p>With SmartClip, you can clip now, read later. Your clippings are available on any device.</p>
	      </div>
	      <div class="span4">
		<h2>Powered by SmartFile.</h2>
		<p>SmartFile provides powerful integration to give you control over your data.</p>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>
