<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SmartClip | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <section>
    <div class="container">

      <div class="masthead">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="http://twitter.github.com/bootstrap/examples/justified-nav.html#">Home</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Downloads</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>SmartClip</h1>
        <p class="lead">Online bookmarking made simple.</p>
	{% if user.is_authenticated %}
	<a class="btn btn-large btn-success" href="{% url view_clippings %}">View Your Clips</a>
	{% else %}
	<a class="btn btn-large btn-success" href="{% url oauth_redirect %}">Log In with SmartFile</a>
	{% endif %}
      </div>
      <hr>
    </section>
    <footer>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h3>Clip Anything.</h3>
          <p>Whether it's for business or pleasure, any images,links, or text from any website with just a click of a button.</p>
          <p><a class="btn" href="">View details »</a></p>
        </div>
        <div class="span4">
          <h3>View Anywhere.</h3>
          <p>With SmartClip, you can clip now, read later. Your clippings are available on any device.</p>
          <p><a class="btn" href="">View details »</a></p>
       </div>
        <div class="span4">
          <h3>Powered by SmartFile.</h3>
          <p>SmartFile provides powerful integration to give you control over your data.</p>
          <p><a class="btn" href="">View details »</a></p>
        </div>
      </div>

    </div>
    </footer>
    </div> <!-- /container -->
</body></html>
