<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap-dropdown.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap-carousel.js"></script>

	<link rel="shortcut icon" href="static/img/icon.ico">
	<title>Home - SmartClip</title>
	<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
</head>
<body>
  <div id="header">
      <div id="header_info">
	{% if logged_out %}
	<span class="label label-info">You've been logged out.</span>
	{% endif %}
	{% if user.is_authenticated %}
	<div id="header_info_img">
	  <img src="{{STATIC_URL}}img/profile_img.png" />
	</div>
	<div id="header_info_name">
	   Logged in as: <b>{{ user.username }}</b>
	   <br><a href="/logout">Logout</a></br>
	</div>
      {% endif %}
      </div>
  </div>
		
	<div id="container">
	  <div class="home_content">
	    <div id="myCarousel" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
		  <img src="{{STATIC_URL}}img/logo.png" class="sc-brand" style="height:100px;" />
		  
		  <br><br>
		  
		  <span style="font-size:20px;">The smart way to capture the web</span>
		  
		  <br><br>
		  {% if user.is_authenticated %}
		  <a class="btn btn-large btn-info" href="/clippings">View Your Clippings</a>
		  {% else %}
		  <a class="btn btn-large btn-info" href="/oauth-redirect">Log In with SmartFile</a>
		  {% endif %}
                </div>
                <div class="item">
                    <img src="{{STATIC_URL}}img/1sc.png" alt="">
                    <div class="carousel-caption">
                      <h4>Capture Anything on the Web</h4>
                      <p>With the SmartClip Chrome extension, gathering inspiration is just a click away.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="{{STATIC_URL}}img/2sc.png" alt="">
                    <div class="carousel-caption">
                      <h4>View Your Clippings In One Place</h4>
                      <p>See your clippings even if the original website changes. All your clippings are stored in your SmartFile account and available for download as PDF.</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control sc" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control sc" href="#myCarousel" data-slide="next">›</a>
              </div>
	    
	  </div>
	  
	</div>
	
	<div id="footer">
	  <div class="container splash-page">
	    <!-- Example row of columns -->
	    <div class="row-fluid">
	      <div class="span4">
		<h2>Clip Anything.</h2>
		<p>Clip now, read later. With the SmartClip Google Chrome extension, you can capture text, links, and images seamlessly to your SmartClip account. Gather anything from the web when inspiration hits, whether it's for business or pleasure.
		<p><a href="https://chrome.google.com/webstore/detail/smartclip/dfinnoojjhjeehmahanjjbcdjpdmepge" target="_blank"><img src="{{STATIC_URL}}img/chrome-store.png"></a></p>
	      </div>
	      <div class="span4">
		<h2>Powered by SmartFile.</h2>
		<p>SmartFile provides powerful integration to give you control over your data. All your clippings are saved automatically to your SmartFile account and available for download as PDF.</p>
		<p><a class="btn" href="http://www.smartfile.com/" target="_blank">Learn more about SmartFile >></a></p>
	      </div>
	      <div class="span4">
		<h2>View Us On Github!</h2>
		<p>SmartClip has been lovingly built by two CS students for the SmartFile Bake-Off competition. It's open source and available online!</p>
		<p><a class="btn" href="https://github.com/stemchan/smartclip" target="_blank">See the code >></a></p>
	      </div>
	    </div>
	  </div>
	</div>
	  $('.carousel').carousel('pause');
</body>
</html>
