{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SmartClip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
    <script src="{{STATIC_URL}}wysihtml5/parser_rules/advanced.js"></script>
    <!-- Library -->
    <script src="{{STATIC_URL}}wysihtml5/dist/wysihtml5-0.3.0.min.js"></script>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="wide-container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">SmartClip</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url home %}">Home</a></li>
              <li class="active"><a href="{% url view_clippings %}">My Clippings</a></li>
              <li><a href="#contact">Contact</a></li>
	      <li>You're logged in as: {{user.username}}</li>
            </ul>
          </div><!--/.nav-collapse -->
	  </div>
	</div>
      </div>
    </div>

    <div class="clip-container">
      <div class="clip-listings">
      <h1>Your Clippings</h1>
      {% for clip in clippings %}
      <div class="clip-listing">
      <h4>{{clip.title}}</h4>
      Date created: {{clip.date_created|naturaltime}} Last modified: {{clip.date_modified|naturaltime}}
      </div>
      {% endfor %}
      </div>
      <div class="clip-viewer">
      <iframe src="http://www.smartclip.me/media/two-scoops-of-django-best-practices-for-django-15.html"></iframe>
      </div>
   </div> <!-- /container -->
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </body>
</html>
