{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/icon.ico">
    <title>Clippings - SmartClip</title>
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div id="logo">
	<a href="#"><img src="{{STATIC_URL}}img/logo.png" /></a>
      </div>
      <div id="header_info">
	<div id="header_info_img">
	  <img src="{{STATIC_URL}}img/profile_img.png" />
	</div>
	<div id="header_info_name">
	  {{ user.username }}
	  <span class="icon-chevron-down icon-white"></span>
	</div>
      </div>
      <div id="nav_menu">
	<ul>
	  <li class="start">
	    <a href="#">
	      <span class="icon-home icon-white"></span> Home
	    </a>
	  </li>
	  <li class="active">
	    <a href="#">
	      <span class="icon-picture icon-white"></span> Clippings 
	    </a>
	  </li>
	  <li>
	    <a href="#">
	      <img src="{{STATIC_URL}}img/chrome.png" class="icon-chrome">Get the Chrome Extension
	    </a>
	  </li>
	  <li>
	    <a href="#">
	      <span class="icon-pencil icon-white"></span> Contact Us
	    </a>
	  </li>
	</ul>
      </div>
    </div>
    
    <div id="container">
      <div class="clipping_content">
	
	<div class="panel_left">
	  <div class="page_header_bg">
	    <h3>Your Clippings</h3>
	  </div>
	  <div class="clip_list">
	      {% if clippings %}
	    <ul>
	      {% for clip in clippings %}
	      <li>
		<div class="options">
		  <a id="edit-{{clip.id}}" href="#"><span class="icon-pencil"></span></a>
		  <a id="show-{{clip.id}}" href="#"><span class="icon-eye-open"></span></a>
		  <a id="download-{{clip.id}}" href="#"<span class="icon-leaf"></span></a>
		  <a id="delete-{{clip.id}}" href="#"><span class="icon-trash"></span></a>
		</div>
		<a href="#" class="clip_list_item">
		  <div class="list_item_title">{{clip.title}}</div>
		  <div class="list_item_desc">Date created: {{clip.date_created|naturaltime}} Last modified: {{clip.date_modified|naturaltime}}
		  </div>
		</a>
	      </li>
	      {% endfor %}
	    </ul>
	  {% else %}
	  <p class="muted"><italic>You have no clippings yet! Why don't you give the chrome extension a whirl?</italic></p>
	  {% endif %}
	  </div>
	</div> <!-- end panel_left -->
	
	<div class="panel_right">
	  <div class="clip_preview">
	    <div class="clip_preview_content" style="clear:both;">
	      <iframe class="clip_preview_frame" src="http://wendyslookbook.com">
	    </div>
	  </div>
	</div> <!-- end panel_right -->
	
      </div> <!-- end inner_container -->
    </div> <!-- end container -->
    
    <div id="footer">  
    </div>
  </body>
</html>
